/* style for flex box start */

.container {
  display: flex;
  background-color: DodgerBlue;
  width: 40%;
  height: 200px;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap:10px;
}


.container .box {
  background-color: Yellow;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* style for flex box end */
